/* Write your CSS here! */
body {
    margin: 8px;
    display: block;
}

.header-title {
    text-align: center;
    color: brown;
}

#mainHeading {
    color: red;
    text-decoration: underline;
}

.funParagraph {
    font-style: italic;
    color: green;
}